.navbar-clean {
    background-color: white;
    border-color: white;
    margin-bottom: 0;
}

.main_act, .main_act a {
    background-color: #333399;
    color: white !important;
}

#navbar a:hover {
    text-decoration: underline;
}

body {
    font-family: verdana, sans-serif;
}

@media (max-width: 767px) {
    #banner {
        display: none;
    }

    .navbar-header {
        height: 88px;
        background-image: url("../images/spp.svg");
        background-size: 570px auto;
        background-repeat: no-repeat;
        background-position: calc(50% - 25px) center;
    }

    .csc-textpic-image table {
        width: auto;
    }

    .csc-textpic-image img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 655px) {
    .navbar-header {
        height: 88px;
        background-image: url("../images/spp_small.svg");
        background-size: auto 65px;
        background-repeat: no-repeat;
        background-position: calc(50% - 25px) center;
    }
}

@media (max-width: 991px) {
    .csc-textpic-image img {
        max-width: 100%;
        height: auto;
    }

    .csc-textpic-image table {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a, .navbar-nav a {
        padding: 4px;
        font-size: 12px;
    }

    #navbar {
        padding: 0;
    }

    #banner {
        width: 90%;
        height: 100px;
        background-image: url("../images/spp.svg");
        background-size: 90% 100%;
        background-repeat: no-repeat;
        background-position: 60% center;
    }

    #banner img.center {
        display: block;
        margin: 0 auto;
    }

    .sidebar {
        float: right;
    }
}

@media (min-width: 992px) {
    .navbar-nav > li > a, .navbar-nav a {
        font-size: 14px;
        padding: 11px;
    }
}

@media (min-width: 1200px) {
    .navbar-nav > li > a, .navbar-nav a {
        font-size: 18px;
    }
}

.csc-textpic-image img {
    border: 0;
}

.news-latest-item > h3 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.csc-default > blockquote {
    border-left: 0;
    padding: 0;
    font-size: 0.7em;
}

.csc-default {
    text-align: justify;
}

.navbar-toggle {
    float: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

#controls {
    list-style-type: none;
    float: right;
}

.sidebar-offcanvas ul {
    list-style-type: none;
    padding-left: 1em;
}

.sub_act, .sub_act a {
    background-color: #333399!important;
    color: white!important;
}

h1, h2, h3 {
    margin-top: 10px;
}

.hide {
    display: none!important;
}

.csc-textpic-image dt {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    width: 100%;
}

.csc-textpic-image dl {
    text-align:center;
}

video {
    width: 100%    !important;
    height: auto   !important;
}

.tx_sevenpack-list_container td {
    border: 0;
}

.tx_sevenpack-navi_widget input {
    margin-left: 5px;
    margin-right: 5px;
}

div.tx_sevenpack-list_container {
    margin-left: 0;
}